<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Student COurse</th>
            <th scope="col">Fees</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stu of studentList; let i = index">
            <td scope="col">{{ i + 1 }}</td>
            <td scope="col">{{ stu.name }}</td>
            <td scope="col">{{ stu.email }}</td>
            <td scope="col">{{ stu.student_course }}</td>
            <td scope="col">{{ stu.fees }}</td>
            <td>
                <span (click)="remove(stu)" class="btn btn-danger">Delete</span> &nbsp;
                <span routerLink="/update/{{stu.id}}" class="btn btn-primary">Edit</span>
            </td>
        </tr>
    </tbody>
</table>