<form [formGroup]="studentForm" (ngSubmit)="submit()" novalidate>

    <div class="mb-3">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Full Name" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb-3">
        <label>Student Course</label>
        <select class="form-control mb-3" formControlName="student_course" required >
            <option value="B-Tech" selected>B-Tech</option>
            <option value="BCA">BCA</option>
            <option value="MCA">MCA</option>
            <option value="M-Tech">M-Tech</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Fees</label>
        <input type="number" formControlName="fees" class="form-control" placeholder="Fees" required>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid">Update</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="reset" class="btn btn-danger" >Reset</button>
    </div>    


</form>