<form [formGroup]="studentForm" (ngSubmit)="submit()" novalidate>

    <div class="mb-3">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="******" required>
    </div>

   

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid">Login</button>
    </div>    


</form>