<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="create">Sanjay
      Creation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': router.url.includes('create') || router.url == '/'}">
          <a class="nav-link" href="javascript:void(0)" routerLink="create">Add
            <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="{'active': router.url.includes('list')}">
          <a class="nav-link" href="javascript:void(0)"
            routerLink="list">List</a>
        </li>
      </ul>

      <div *ngIf="studentService.isLoggedIn">
        <a class="btn btn-danger" href="javascript:void(0)"
           (click)="logout()">Logout</a>
      </div>

    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>